<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>160552736476-tevenmcs152tcsubov5ui6duttoi78kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160552736476-tevenmcs152tcsubov5ui6duttoi78kf</string>
	<key>API_KEY</key>
	<string>AIzaSyDZT1Mso9au9ebm7FjLwKQY1BJtSweBryc</string>
	<key>GCM_SENDER_ID</key>
	<string>160552736476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.divagroup.domihome</string>
	<key>PROJECT_ID</key>
	<string>domiwii-156413</string>
	<key>STORAGE_BUCKET</key>
	<string>domiwii-156413.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160552736476:ios:ccf0d30db20a2f62</string>
	<key>DATABASE_URL</key>
	<string>https://domiwii-156413.firebaseio.com</string>
</dict>
</plist>